.adoptionContainer {
  margin: 7em 3em 5em 3em;
  display: flex;
  flex-direction: row;
}

.rightAdoptionContainer {
  margin-left: 2em;
  padding: 1em;
  flex-direction: column;
  border-radius: 15px;
  border: 2px solid white;
}

.loremtree {
  margin-top: 2em;
  padding: em;
  border: 2px solid #768c27;
  border-radius: 15px;
}

@media (max-width: 980px) {
  .adoptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rightAdoptionContainer {
    width: 100%;
  }

  .loremtree {
    margin-top: 2em;
    padding: 1em;
    border: none;
  }
}
