.adoptioncontainer {
  margin: 2em;
    display: flex;
    flex-direction: row;
}

@media (max-width: 900px) {
  .adoptioncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.rigthcontainer {
    padding: 3em;
    flex-direction: column;
}

.loremtree {
  margin-top: 2em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 15px;
}
