.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  .heading {
    margin-bottom: 1em;
    font-size: 2em;
    color: #31572c;
  }
  
  .errorMessage {
    font-size: 1.2em;
    color: #666;
    text-align: center;
    max-width: 400px;
    white-space: pre-line;
  }
  