.adoptionInfoContainer {
  padding-top: 100px;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto 2rem;

}

.adoptionInfoBackBtn {
  text-decoration: none;
  color: var(--primary);
}

.adoptionInfoContent {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.adoptionInfoImgCont {
  width:70%;
  display: flex;
  gap: 1rem;
}

.adoptionInfoImgCont img {
  width: 65%;
  object-fit: cover;
}
.adoptionInfoText{
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.adoptionInfoText h4{
  font-size: 20px;
}
.text {
  margin-bottom: 1rem;
  font-size: 12px;
}
.textZone{
  font-size: 16px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .adoptionInfoContent {
    flex-direction: column;
    margin: 0;
  }
  .adoptionInfoImgCont{
    flex-direction: column;
    width: 100%;
  }
  .adoptionInfoImgCont img{
    width: 100%;
  }
  .adoptionInfoText{
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .adoptionInfoImgCont{
    width: 65%;
  }
  .adoptionInfoImgCont img{
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
.adoptionInfoImgCont{
  flex-direction: column;
}
  .adoptionInfoImgCont img{
    width: 40%;
    height: 50%;
  }
  .adoptionInfoText{
    width: 100%;
  }
}