
.UserCategoryBox{
    width: 30%;
    padding: 1.5rem;
    border: 1px solid #5b5b5b;
    border-radius: 10px;
    height: fit-content;
    text-align: center;
    margin-bottom: 3em;
}
.UserCategoryBox h3{
    padding-bottom: 1rem;
    text-align: center;
    color: #31572C ;
}
.ejemplares{
    margin: 0 auto;
   padding: 1rem;
   text-align: center;
}
.selected{
    margin: 0 auto;
    padding: 1.3rem;
    text-align: center;
}
.ejemplares h3{
    background-color: #d6d6d6;
    color: #aaa8a8;
    padding: 6px;
    border-radius: 6px;
    width: 90%;
    margin: 0 auto;
}
.selected h3{
    background-color: #768C27;
    color: #fff;
    padding: 6px;
    border-radius: 6px;
    width: 90%;
    margin: 0 auto;
}
.ejemplares p{
    color: #d6d6d6;
    text-align: center ;
}
.selected p{
    color: #31572C;
    text-align: center ;
}
.your{
    color: #31572C;
}
.notYour{
    display: none;
}
@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .ejemplares h3{
        font-size: 20px;
    }
    .selected h3{
        font-size: 20px;
    }
    .UserCategoryBox{
        width: 50%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .ejemplares h3{
        font-size: 16px;
    }
    .selected h3{
        font-size: 16px;
    }
    .UserCategoryBox{
        width: 50%;
    }

}
@media screen and (max-width: 767px) {
    .UserCategoryBox{
        width: 100%;
        margin-bottom: 1rem;
    }
}