.form {
  max-width: 500px;
  margin: 2.5rem auto;
  border: solid 1px;
  padding: 3rem 5rem 2rem;
  background-color: #fff;
  border-radius: 15px;
  height: 90%;
}
.firstAndLastName{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap:1rem;
}

.form label {
  display: block;
  width: 100%;
  margin-top: 1rem;
}
.form input{
  border-radius: 15px;
  width: 100%;
  margin-bottom: 1em;
  border: 0.5px solid #5b5b5b;
  border-radius: 16px;
  padding: 8px 16px;
}
.form p {
  color: darkred;
}
.form select{
  width: 100%;
  border-radius: 15px;
  padding: .5rem;
  border:1px solid #ccc ;
}
label p{
 font-size: 10px;
}
.checklistPassword {
  border: solid 1px;
  list-style: none;
  padding-left: 1rem;
}

.checklistPassword > p {
  color: #000;
}

.default::before {
  padding-right: 10px;
  content: '✗';
  color: red;
}
.passReq{
  font-size: 10px;
}
.default{
  font-size: 10px;
}
.passReq::before {
  padding-right: 8px;
  content: '✓';
  color: green;
}

.buttons {
  margin-top: 2rem;
}
.submitButtonValid{
  background-color: #31572C;
  color: #fff;
  border-radius: 10px;
}
.submitButton{
  border-radius: 10px;
  color: #aaa8a8;
}
@media screen and (max-width: 767px) {
  .form{
    border: none;
    padding: 1rem;
  }
}