.leaflet-container {
  width: 400px;
  height: 500px;
  box-shadow: 5px 5px 6px 0px rgba(49, 87, 44, 0.48);
  -webkit-box-shadow: 5px 5px 6px 0px rgba(49, 87, 44, 0.48);
  -moz-box-shadow: 5px 5px 6px 0px rgba(49, 87, 44, 0.48);
}

.leaflet-control,
.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}

.typeList {
  list-style-position: inside;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.containerBtn {
  text-align: center;
}

.placeBtn {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.mapLoaderContainer {
  width: 400px;
  height: 500px;
}
