body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    margin: 0;
    text-align: center;
  }
  
  .ourvision{
    padding-top: 2em;
    background: rgb(177, 177, 177);
  }

  .whyadopt{
    padding: 2em;
  }

  p {
    line-height: 1.6;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #636363;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #868686;
  }
  