body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden; 
}

.container {
  margin: 0;
  text-align: center;
}

.ourvision {
  background: white;
}
.homeVideo {
  /* width: 1440px; */
  width: 100%;
  height: 412px;
  object-fit: cover;
}
.adoptButton {
  background-color: #31572c;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 328px;
  margin-top: 8px;
}
.titleBox {
  position: absolute;
  margin-top: -250px;
  width: 100vw;
}
.titleBox h2 {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
}
.whyadoptBox{
  height: max-content;
  padding: 2rem 0;

}
.whyadopt {
  max-width: 1440px;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.adopyTexts {
  background-color: #31572c;
  width: 62%;
  text-align: left;
  padding: 1rem;
}
.adopyTexts h2 {
  font-size: 36px;
  padding: 1rem 0 2rem 0;
  color: #fff;
}
.adopyTexts p {
  text-align: left;
  color: #f3f1f1;
  padding-bottom: 1rem;
  font-size: 16px;
}
.imgBox{
  object-position: center;
  overflow: hidden;
}
.imgBox img {
  object-position: center;
  height: 100%;
  margin: 0;
  padding: 0;

}
.secondButton {
  background-color: #f5fcd1;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #31572c;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 328px;
  margin-top: 60px;
}

p {
  line-height: 1.6;
}

.secondButton:hover {
  background-color: #868686;
}
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .adopyTexts h2{
    font-size: 24px;
  }
  .adopyTexts p{
    font-size: 14px;
    padding-bottom: .5rem;
  }

}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .adopyTexts{
    padding: 1rem 1.5rem;
  }

  .adopyTexts h2 {
    font-size: 20px;
  }
  .adopyTexts p {
    font-size: 13px;
    font-weight: 400;
  }
  .whyadopt{
    width: 90vw;
  }

}
@media screen and (max-width: 767px) {
  .whyadoptBox{
    padding: 2rem 0;
  }
  .whyadopt{
    width: 90vw;
  }
  .homeVideo {
    width: 100%;
  }
  .titleBox h2 {
    font-size: 20px;
  }
  .adoptButton {
    width: 165px;
  }
  .whyadopt {
    width: 100%;
    flex-direction: column;
  }
  .adopyTexts{
    width: 100%;
    padding: 1rem 1.5rem 4rem;
  }
  .adopyTexts h2 {
    font-size: 20px;
  }
  .imgBox{
    margin-top: -2rem;
  }
  .imgBox img {
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
  }
  .secondButton{
    width: 100%;
  }
}
