.sucessContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 89vh; 
  max-width: 100%;
  padding: 20px;
  padding-top: 100px;
  box-sizing: border-box;
}

.successAdoption {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: center;
}

.sucessContainer h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.sucessContainer img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.sucessContainer p {
  text-align: center;
  margin-bottom: 20px;
}

.sucessContainerBtn {
  text-decoration: none;
  border: none;
  align-items: center;
  padding: 8px 32px;
  gap: 10px;
  color: white;
  background: #31572c;
  border-radius: 10px;
}
