.bigAdoptionContainer{
  min-height: 76vh;
}
.shoppingContainer {
  margin: 8em 5em 5em 5em;
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  gap: 3rem;
}

.shoppingLeft {
  /* width: 60%; */
  /* margin-right: 4em; */
  padding: 1em;
  /* border: 0.5px solid #5b5b5b; */
  border: 0.5px solid var(--primary);
  border-radius: 16px;
}

.shoppingRight {
  padding: 1em;
  /* border: 0.5px solid #5b5b5b; */
  border: 0.5px solid var(--primary);
  border-radius: 16px;
}

.cardData,
.cardDni {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.shoppingContainer h4 {
  margin-bottom: 1em;
}

.shoppingContainer input,
select {
  margin-bottom: 1em;
  border: 0.5px solid #5b5b5b;
  border-radius: 16px;
  padding: 8px 16px;
}

.shoppingContainer button {
  border: none;
  align-items: center;
  padding: 8px 32px;
  gap: 10px;
  color: white;
  background: #31572c;
  border-radius: 10px;
}

@media (max-width: 725px) {
  .shoppingContainer {
    margin: 8em 5em 5em 5em;
    display: flex;
    flex-direction: column-reverse;
  }

  .shoppingLeft {
    margin-top: 2em;
    border: 0.5px solid white;
  }
  .shoppingRight {
    border: 0.5px solid white;
  }
}
