.myAdoptionsContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 1rem 0;
}

.adoptionMessage {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

.adoptionBtn {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  border: none;
  align-items: center;
  padding: 8px 32px;
  color: var(--white);
  background: var(--primary);
  border-radius: 10px;
}
